.container {
  max-width: 100%;
  // padding: 0 $container-padding;
  margin: 0 auto;
  min-width: 320px;
}

@include mobile-large {
  .container {
    padding: 0;
    min-width: 472px;
  }
}

@include tablet {
  .container {
    padding: 0;
    min-width: 820px;
  }
}

@include desktop {
  .container {
    padding: 0;
    min-width: 1182px;
  }
}

 

