.features{
    margin-top: 22px;

    .additional__card{
        display: none;
    }


    &__card{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 24px;
        border-bottom: 1px solid $secondary-color;
        text-align: left;


        

        &s{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 24px;
        }

        &__date{
            color: $secondary-color;
            font-size: 13px;
            font-style: italic;
        }
        &__subtitle{
            color: $main-color;
            text-transform: uppercase;
            opacity: 0.8;
        }
        &__title{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.02em;
            color: $main-color;
            text-align: left;
            text-transform: uppercase;

        }


        &__info{
            font-size: 13px;
            letter-spacing: 0.01em;
            color: $main-color;
            opacity: 90%;
            span{
                display: none;
            }
        }

        &:nth-child(2){
            :nth-child(3){
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0.02em;
            }

        }


        &:nth-child(3){
            :nth-child(3){
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0.02em;
            }

        }


        &:nth-child(4){
            padding: 32px;
            background-color: #888C94;
            border-bottom: 0;

            
            :nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4){
                color: white;
            }


            :nth-child(3){
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0.02em;
            }

            :nth-child(4){
                font-size: 14px;
                letter-spacing: 0.02em;
            }


        }


        &:last-child{
            border-bottom: 0;
        }



    }


    &__btn{
        display: block;
        margin: auto;
        margin-top: 24px;

        &__container{
            backdrop-filter: blur(48px);
        }
    }

    .main__card{
        h2{
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        text-transform: uppercase;
        }
    }


}


@include mobile-large{
    .features{


        .additional__card{
            display: none;
        }


        &__card{
            padding-bottom: 47px;
            &__title{
                font-size: 24px;
            }

            &s{
                gap: 47px;
            }

            &__info{
                span{
                    display: inline;
                }
            }

            &:nth-child(4){
                padding: 32px;
                background-color: #888C94;
                border-bottom: 0;
    
                
                
    
    
            }
        }



    }

}





@include tablet{
    .features{
        

    .first__card{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // gap: 12px;
    }

    .additional__card{

        display: flex;

        &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        }

        &__text{
            flex: 1;
            flex-direction: column;
            gap: 12px;


            p{
                margin-top: 12px;
            }
            h2{
                margin-top: 12px;
            }
            button{
                display: block;
                margin: auto;
                margin-top: 30px;
            }
        }

        &__img{
            flex: 0 0 280px;
        }
        
    }



    .third__card{
        position: absolute;
        bottom: 1930px;
        right: 540px;
    }



    &__card{



        &s{
            position: relative;
        }

        &:nth-child(2){
            display: flex;
            justify-content: flex-end;
        }





        &__btn{
            margin-left: auto;
        }



       

        

        &:first-child{
            .features__card__text{
                flex: 1;

                p{
                    span{
                        display: none;
                    }
                }

            }

            h2{
                font-size: 32px;
            }

            
            



            .features__card__img{
                flex: 0 0 440px;
                img{
                    width: 100%;
                }
            }



        }




    }

        


    }
    
}

@include desktop{
    .features{
    }
}