.footer{
    margin-top: 24px;
    hr{
        color: #E0E0E0ed;
        width: 100%;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;        
    }


    &__logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 36px;
    }



    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $main-color;


        hr{
            margin-top: 16px;
            margin-bottom: 16px;
        }


    }



    &__smm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;


        h3{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $main-color;
        }



        div{
            display: flex;
            align-items: center;
            gap: 22px;
            img{
                padding: 8px;
            }
        }
    }


    &__currency__rate{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;


        
            p{
                color: $main-color;
            }


        div{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            align-items: center;
            background-color: #888C94;
            padding: 12px 63px;
            gap: 12px;
            border-radius: 28px;
            span{
                color: #fff;
            }
        }


    }

    &__sponsors{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
    }

    &__burger__btn{
        padding: 8px;
        background-color: #F8F3EC;
        border-radius: 12px;
    }
}


@include mobile-large{
    .footer{
        margin-top: 47px;
        &__logo{
            padding: 0 10px;
        }

        &__wrapper{
            position: relative;
            gap: 65px;
        }

        &__list__container{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            


            hr{
                display: none;
            }
        }

        &__list{
            flex-direction: column;
        }

        &__smm{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__currency__rate{
            div{
                grid-template-columns: repeat(2,1fr);
                padding: 12px 74px;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        .currency__rate__title{
            margin-right: 400px;
        }

        &__sponsors{
            position: absolute;
            top: 370px;
            left: 300px;
        }

    }
}