.hero{
    padding: 0;


    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-image: url("../../assets/images/hero-destkop.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
        padding-top: 160px;
        padding-right: 44px;
        padding-left: 16px;
        padding-bottom: 32px;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
        color: $main-color;
    }

    &__about{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.01em;
    }
    

    &__images{
        margin-top: 16px;
        display: flex;
        gap: 13px;
        justify-content: center;
        img{
            width: 24px;
            height: 24px;
        }
    }




}


@include mobile-large{
    .hero{

            background-image: url("../../assets/images/hero-destkop.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

        &__wrapper{
            display: flex;
        }

        &__title{
            font-size: 36px;
            font-weight: 700;
            line-height: 56px;
            text-align: left;
        }

        &__about{
            font-size: 18px;
        }



        &__info{
            padding: 160px 99px 90px 32px;
        }



        &__images{
            position: relative;

            :nth-child(3){
                top: -80px;
                left: 450px;
            }
            :nth-child(2){
                top: -80px;
                left: 260px;
            }
            :nth-child(1){
                top: -80px;
                left: 80px;
            }
            img{
            position: absolute;
            width: 100px;
            height: 100px;
            }
        }


    }
}


@include tablet{
    .hero{
        &__images{
            position: relative;
            :nth-child(3){
                top: -80px;
                left: 450px;
            }
            :nth-child(2){
                top: -80px;
                left: 260px;
            }
            :nth-child(1){
                top: -80px;
                left: 80px;
            }
            img{
                position: absolute;
            }
        }

        
    }
}


@include desktop{
    .hero{
        background-image: url("../../assets/images/hero-destkop.svg");
        background-repeat: no-repeat;
        background-size: cover;

        &__wrapper{
            background-image: none;
        }

        &__images{
            :nth-child(3){
                top: -200px;
                left: 1000px;
            }
            :nth-child(2){
                top: -350px;
                left: 1000px;
            }
            :nth-child(1){
                top: -500px;
                left: 1000px;
            }
            img{
                position: absolute;
            }
        }


        padding: 0 128px;

    }
}